html, body, .container {
    height: 94%;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

form.form {
	margin: 10px 0px 0px 10px;
	background: #EEEEEE;
	padding: 20px;
	max-width: 380px !important;
	min-width: 380px !important;
	width: 380px !important;
	border: 1px solid #CCCCCC;
	float: left;
}

input.error {
	border: 1px solid #FF0000 !important;
}

label.error, div.error {
	font-size: 10px; font-weight : normal;
	color: #FF0000 !important;
	font-weight: normal;
}

.text-normal {
	font-weight: normal !important;
}

.errorText {
	padding: 10px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}